@{
    ViewBag.Title = "About";
}
<style>
    .container {
        padding: 0px !important;
        width: 100% !important;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
