
@{
    ViewBag.Title = "TestPage";
}

<h2>TestPage</h2>
<span>Sorry! Can't use this one</span>
<hr />
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Create the editor container -->
<div id="editor">
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    var quill = new Quill('#editor', {
        modules: {
            toolbar: [
                [{ header: [1, 2, 3, false] }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block']
            ],
            history: {
                delay: 2000,
                maxStack: 500,
                userOnly: true
            }
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'
  });
</script>

